.owl-carousel(
data-items='1',
data-md-items='2',
data-dots='true',
data-nav='false',
data-loop='true',
data-margin='30',
data-stage-padding='0',
data-mouse-drag='false' )
	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p Tumultumques mori in clemens vasa! Ubi est varius devirginato? Advena lotus fermium est. Abaculuss sunt rationes de noster guttus. Cum gallus unda, omnes fugaes desiderium gratis, teres zeluses. Demissio regius fortis est.
		.quote-modern-meta
			.quote-modern-avatar: +img( 'testimonials-person-3-96x96' )
			.quote-modern-info
				cite.quote-modern-cite Albert Webb
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p A falsis, accola emeritis cobaltum. Impositios cadunt! Cum historia trabem, omnes bullaes visum primus, lotus caesiumes. Unda vix ducunt ad brevis urbs. Sunt visuses contactus grandis, rusticus toruses!
		.quote-modern-meta
			.quote-modern-avatar: +img( 'testimonials-person-1-96x96' )
			.quote-modern-info
				cite.quote-modern-cite Kelly McMillan
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p Est fatalis caesium, cesaris. Triticum undas, tanquam camerarius cobaltum. Tabes congregabos, tanquam velox gallus. Galataes credere in cirpi! Glutens sunt torquiss de fatalis cannabis. Salvus, ferox extums interdum contactus de barbatus, placidus itineris tramitem.
		.quote-modern-meta
			.quote-modern-avatar: +img( 'testimonials-person-2-96x96' )
			.quote-modern-info
				cite.quote-modern-cite Harold Barnett
				p.quote-modern-caption Regular Client

	.wow-outer: blockquote.quote-modern.quote-modern-big.wow.slideInLeft
		+quote-mark.quote-modern-mark
		.quote-modern-text
			p Calcaria audax habitio est. Abactus germanus compater est. Ubi est altus cursus? Peritus coordinatae virtualiter dignuss resistentia est. Navis faveres, tanquam regius nomen. Emeritis, salvus brabeutas saepe imperium de placidus, noster imber.
		.quote-modern-meta
			.quote-modern-avatar: +img( 'testimonials-person-4-96x96' )
			.quote-modern-info
				cite.quote-modern-cite Samantha Lee
				p.quote-modern-caption Regular Client
