// Owl Carousel
.owl-carousel.wow.fadeIn(
data-items='1',
data-md-items='2',
data-lg-items='3',
data-dots='true',
data-nav='false' ,
data-loop='true',
data-margin='30',
data-stage-padding='0',
data-mouse-drag='false' )

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-1-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Kelly McMillan
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p Cur impositio favere? Byssuss persuadere, tanquam noster buxum. Sunt eraes magicae regius, mirabilis racanaes. Lanista, demolitione, et exemplar. Voxs unda! Cum turpis ortum, omnes imberes experientia ferox, barbatus contencioes!

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-2-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Harold Barnett
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p Fugas cadunt in aboa! Sunt accolaes consumere clemens, mirabilis cedriumes. Est brevis historia, cesaris. Emeritis, mirabilis imbers solite pugna de dexter, superbus exsul.

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-3-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Albert Webb
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p Hercle, vox placidus!. Pol, a bene lacta, onus! Cliniass tolerare in hafnia! Elevatuss credere in virundum! Noster, primus sensorems foris quaestio de bassus, alter hibrida. Regius, placidus lactas diligenter attrahendam de talis, fatalis fides.

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-4-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Samantha Lee
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p Nunquam tractare resistentia. Heuretess accelerare in fidelis vierium! Castus bursa velox desideriums zeta est. Est alter detrius, cesaris. Nunquam locus fluctus. Lotus, ferox sectams saepe gratia de flavum, velox acipenser.

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-5-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Bill Warner
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p A falsis, torquis gratis historia. Germanus, salvus heuretess hic imperium de superbus, alter tumultumque. Cum magister congregabo, omnes omniaes tractare raptus, primus nuptiaes.

	blockquote.quote-classic
		.quote-classic-meta
			.quote-classic-avatar: +img( 'testimonials-person-6-96x96' )
			.quote-classic-info
				cite.quote-classic-cite Adam Smith
				p.quote-classic-caption Regular Client
		.quote-classic-text
			p Peregrinatione saepe ducunt ad rusticus omnia. Sunt consiliumes consumere castus, noster amicitiaes. Orgia, frondator, et abnoba. Imbers peregrinationes, tanquam ferox medicina. Est talis luna, cesaris. Cum planeta favere, omnes competitiones amor peritus, fidelis seculaes.