section.section.section-lg.bg-gray-100
	.container
		h2.d-inline-block.decor.decor__centered Testimonials
		.row.row-50.justify-content-center.justify-content-lg-between.row-offset-1
			.col-md-10.col-lg-5.wow-outer
				.owl-carousel.wow.slideInLeft(
				data-items='1',
				data-dots='true',
				data-nav='false',
				data-loop='true',
				data-margin='30',
				data-stage-padding='0',
				data-mouse-drag='false' )
					blockquote.quote-modern
						+quote-mark.quote-modern-mark
						.quote-modern-text
							p Ecce. Medicina de audax demissio, imperium galatae! Brabeutas trabem, tanquam ferox triticum. Pulchritudines volare, tanquam bi-color navis. Abactus messiss, tanquam alter calcaria. Eheu, mirabilis assimilatio! Cur scutum persuadere? Danistas ortum, tanquam lotus castor. Neuter cursus mechanice magicaes hibrida est.
						.quote-modern-meta
							.quote-modern-avatar: +img( 'testimonials-person-3-96x96' )
							.quote-modern-info
								cite.quote-modern-cite Harold Barnett
								p.quote-modern-caption Regular Client

					blockquote.quote-modern
						+quote-mark.quote-modern-mark
						.quote-modern-text
							p Cur orexis observare? Resistentias resistere, tanquam varius mortem. Prarere cito ducunt ad germanus poeta. Hercle, torquis audax!. Glos de festus navis, perdere canis! Byssuss ire in tectum! Scutum lotus nutrix est. Nocere recte ducunt ad lotus decor. Clemens homo semper visums tumultumque est.
						.quote-modern-meta
							.quote-modern-avatar: +img( 'testimonials-person-1-96x96' )
							.quote-modern-info
								cite.quote-modern-cite Kelly McMillan
								p.quote-modern-caption Regular Client

					blockquote.quote-modern
						+quote-mark.quote-modern-mark
						.quote-modern-text
							p Ubi est albus abactus? Est peritus ventus, cesaris. Ecce. Monss studere in bi-color vasa! Cur clinias tolerare? Impositios ire in alter copinga! Frondator trabems, tanquam emeritis axona. Est camerarius castor, cesaris. Cum accentor credere, omnes advenaes imitari ferox, secundus verpaes.
						.quote-modern-meta
							.quote-modern-avatar: +img( 'testimonials-person-2-96x96' )
							.quote-modern-info
								cite.quote-modern-cite Bill Warner
								p.quote-modern-caption Regular Client

			.col-md-10.col-lg-6
				.thumbnail-video-1.bg-gray-700.wow.slideInLeft
					.embed-responsive.embed-responsive-16by9: iframe( width='570', height='320', src='about:blank', data-src='//www.youtube.com/embed/QZzbm-FrkGk', allowfullscreen='' )
					.thumbnail-video__overlay.video-overlay( style='background-image: url(images/video-preview-1-570x320.jpg)' )
						.button-video-2
