section.section.swiper-container.swiper-slider.swiper-slider-business.bg-gray-700(
	data-loop='true',
	data-slide-effect='fade',
	data-autoplay='5000',
	data-simulate-touch='false',
	data-custom-slide-effect='inter-leave-effect'
)
	.swiper-wrapper
		.swiper-slide( data-slide-bg='images/slider-business-slide-1-1920x800.jpg' ): .slide-inner: .swiper-slide-caption
			.container
				h6.wow-outer: span.wow( data-caption-animate='slideInUp' ) We’ve Got 549 Happy Clients and Counting
				h1.wow-outer: span.wow( data-caption-animate='slideInDown' )
					span Insightful&nbsp;
					span.font-weight-bold Experience
				.swiper-caption-text.swiper-caption-text-sm
					.swiper-caption-text-decoration.wow( data-caption-animate='scaleInVertical' )
					.swiper-caption-text-inner: p.wow( data-caption-animate='slideInLeft' ) CaseCraft provides reliable business planning, management and advisory services backed by years of experience in the industry.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow( href= links.about, data-caption-animate='slideInUp' ) Learn more

		.swiper-slide( data-slide-bg='images/slider-business-slide-2-1920x800.jpg' ): .slide-inner: .swiper-slide-caption
			.container
				h6.wow-outer: span.wow( data-caption-animate='slideInUp' ) We’re the best place to go for a sound business advice
				h1.wow-outer: span.wow( data-caption-animate='slideInDown' )
					span.font-weight-bold Business&nbsp;
					span Planning
				.swiper-caption-text
					.swiper-caption-text-decoration.wow( data-caption-animate='scaleInVertical' )
					.swiper-caption-text-inner: p.wow( data-caption-animate='slideInLeft' ) We will help you develop a business plan specifically tailored to your company and the industry you work in. Our team will also provide you with free consultations.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow( href= links.about, data-caption-animate='slideInUp' ) Learn more

		.swiper-slide( data-slide-bg='images/slider-business-slide-3-1920x800.jpg' ): .slide-inner: .swiper-slide-caption
			.container
				h6.wow-outer: span.wow( data-caption-animate='slideInUp' ) We provide trusted and fact-based advisory services
				h1.wow-outer: span.wow( data-caption-animate='slideInDown' )
					span.font-weight-bold Business&nbsp;
					span Advisory 
				.swiper-caption-text
					.swiper-caption-text-decoration.wow( data-caption-animate='scaleInVertical' )
					.swiper-caption-text-inner: p.wow( data-caption-animate='slideInLeft' ) The right business advisory service can help your business rise to the challenges and leverage the opportunities presented by today's complex global economy.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow( href= links.about, data-caption-animate='slideInUp' ) Learn more

	.swiper-slider-nav.container
		.swiper-button-prev
		.swiper-button-next
